/*———————————————————————————————————————————————————————————*/
/* Color scheme                                              */
/*———————————————————————————————————————————————————————————*/
/* Solarized */

:root {
  --lightest:       #fdf6e3; /* Base3  */
  --light:          #eee8d5; /* Base2  */
  --dark-lightest:  #93a1a1; /* Base1  */
  --dark-lighterer: #839496; /* Base0  */
  --dark-lighter:   #657b83; /* Base00 */
  --dark-light:     #586e75; /* Base01 */
  --dark:           #073642; /* Base02 */
  --darkest:        #002b36; /* Base03 */
  --yellow:         #b58900;
  --green:          #859900;
  --gray:           #e1e1e1;
  --magenta:        #d33682;
  --violet:         #6c71c4;
  --cyan:           #2aa198;
  --orange:         #cb4b16;
  --red:            #dc322f;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-more: var(--lightest);
        --bg:      var(--light);         /* body background */
        --fg:      var(--dark-light);
        --fg-less: var(--dark-lighter);
        --fg-more: var(--darkest);
        --accent:  var(--magenta);
        --body-shadow: 0.1em 0.2em 0.3em rgba(0, 0, 0, 0.3), 0.2em 0.3em 0.3em 0 rgba(0, 0, 0, 0.28);
        --box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.2), 0.1em 0.2em .4em 0 rgba(0, 0, 0, 0.19);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-more:  var(--darkest);
        --bg:       var(--dark);
        --fg:       var(--dark-lightest);
        --fg-less:  var(--dark-lighterer);
        --fg-more:  var(--dark-lightest);
        --accent:  var(--magenta);
        --body-shadow: none;
        --box-shadow: none;
    }
}


html {
  background-color: var(--bg-more);
}


h1 {
  font-size: 200%;
  font-family: 'Quadraat Sans OT';
  margin: 0px 0px 0px 10px;
}

.layout_box {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(2, 1fr);
}

.control_bar {
  grid-column: 1 / 3;
  grid-row: 1 / 2 ;
  display: flex;
  align-items: flex-end;
}

.control_bar > * {
  flex-grow: 1;
}

.master_time_series {
  grid-column: 1 / 3;
  grid-row: 2 / 3 ;
}

.transaction_time_series {
  grid-column: 1 / 3;
  grid-row: 4 / 5 ;
}

.account_burst {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.trans_table {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.dashbox {
  background-color: var(--bg);
  border-top: 1px solid var(--fg-less);
  border-left: 1px solid var(--fg-less);
  box-shadow: var(--box-shadow);
  margin: 4px;
}

.hidden {
  display: none;
}

.dash-filter > input {
  border: 4px solid var(--bg)!important;
  background-color: var(--fg-less)!important;
  color: var(--fg-more)!important;
  text-align: center!important;
}

.control_bar, .dash-dropdown, .dash-graph, .Select, .select-control, .Select-value, .Select-value-label {
    background-color: var(--bg);
    color: var(--fg)!important;
}

.rc-slider-track {
    background-color: var(--accent);
}

.rc-slider-rail {
    background-color: var(--accent);
}

.rc-slider-handle {
    background-color: var(--fg-more);

}

.rc-slider-dot {
    border-color: var(--fg);
   
}

.rc-slider-mark-text {
    color: var(--fg-less);

}

.rc-slider-mark-text-active {
    color: var(--fg-more);

}
