/*———————————————————————————————————————————————————————————*/
/* Color scheme                                              */
/*———————————————————————————————————————————————————————————*/
/* Solarized */

:root {
  --lightest:       #fdf6e3; /* Base3  */
  --light:          #eee8d5; /* Base2  */
  --dark-lightest:  #93a1a1; /* Base1  */
  --dark-lighterer: #839496; /* Base0  */
  --dark-lighter:   #657b83; /* Base00 */
  --dark-light:     #586e75; /* Base01 */
  --dark:           #073642; /* Base02 */
  --darkest:        #002b36; /* Base03 */
  --yellow:         #b58900;
  --green:          #859900;
  --gray:           #e1e1e1;
  --magenta:        #d33682;
  --violet:         #6c71c4;
  --cyan:           #2aa198;
  --orange:         #cb4b16;
  --red:            #dc322f;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-more: var(--lightest);
        --bg:      var(--light);         /* body background */
        --fg:      var(--dark-light);
        --fg-less: var(--dark-lighter);
        --fg-more: var(--darkest);
        --accent:  var(--magenta);
        --body-shadow: 0.1em 0.2em 0.3em rgba(0, 0, 0, 0.3), 0.2em 0.3em 0.3em 0 rgba(0, 0, 0, 0.28);
        --box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.2), 0.1em 0.2em .4em 0 rgba(0, 0, 0, 0.19);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-more:  var(--darkest);
        --bg:       var(--dark);
        --fg:       var(--dark-lightest);
        --fg-less:  var(--dark-lighterer);
        --fg-more:  var(--dark-lightest);
        --accent:  var(--magenta);
        --body-shadow: none;
        --box-shadow: none;
    }
}

/*———————————————————————————————————————————————————————————*/
/* Global variables                                          */
/*———————————————————————————————————————————————————————————*/
:root {
    --serif: 'Lusitana', serif;
    --sans: 'Palanquin', sans-serif;
    --mono: 'Lucida Console', Monaco, monospace;
    --corner: 0.3rem;
    --small-corner: 0.2rem;
    --table-border: 1px solid var(--fg-less);
}

html {
  background-color: var(--bg-more);
  color: var(--fg);
  font-family: var(--serif);
}

.page_content {
  background-color: var(--bg);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--sans);
}

h1 {
  font-size: 200%;
  margin: 0px 0px 0px 10px;
}

.layout_box {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(2, 1fr);
}

.layout_box > div {
    margin: 0.5rem;
}

#time_series_control_bar {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

#detail_control_bar {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.control_bar {
  display: flex;
  align-items: flex-end;
}

.control_bar > * {
  flex-grow: 1;
}

.master_time_series {
  grid-column: 1 / 3;
  grid-row: 2 / 3 ;
}

.transaction_time_series {
  grid-column: 1 / 3;
  grid-row: 5 / 6 ;
}

.account_burst {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.trans_table {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.hidden {
  display: none;
}

.dash-filter > input {
  border: 4px solid var(--bg)!important;
  background-color: var(--fg-less)!important;
  color: var(--fg-more)!important;
  text-align: center!important;
}

.control_bar, .dash-dropdown, .dash-graph, .Select, .select-control, .Select-value, .Select-value-label {
    background-color: var(--bg);
    color: var(--fg)!important;
}

.rc-slider-track {
    background-color: var(--accent);
}

.rc-slider-rail {
    background-color: var(--accent);
}

.rc-slider-handle {
    background-color: var(--fg-more);

}

.rc-slider-dot {
    border-color: var(--fg);
   
}

.rc-slider-mark-text {
    color: var(--fg-less);

}

.rc-slider-mark-text-active {
    color: var(--fg-more);

}

.tab {
    font-family: var(--sans);
    background-color: var(--bg-more)!important;
    border: none!important;
    padding: 0!important;
    vertical-align: center!important;
    height: 1.5rem;
    margin-bottom: 0.2rem!important;
}

.tab--selected {
    color: var(--fg-more)!important;
    background-color: var(--bg)!important;
    border-top: 2px solid var(--accent)!important
}


fieldset {
    border: 1px solid var(--fg-less);
    background-color: var(--bg)!important;
}

fieldset > div {
    padding-bottom: 0.5rem;
    display: flex;
    align-items: baseline;
    justify-content: right;
}

input {
    background-color: var(--bg-more);
    color: var(--fg-less);
    border: none;
    box-shadow: var(--box-shadow)!important;
}

label {
    padding-right: 0.5rem;
    font-family: var(--sans);
    font-size: 0.8rem;
    color: var(--fg-less);
}

.code {
    font-family: var(--mono);
    font-size: 0.8rem;
}

div.code_row + div.code_row {
    margin-top: 1rem;
}

button {
    color: var(--fg-more);
    background-color: var(--bg-more);
    border-color: var(--fg-more);
}


*[data-dash-is-loading="true"]{
    visibility: hidden;
}

*[data-dash-is-loading="true"]::before{
    content: "Loading...";
    display: inline-block;
    color: var(--fg);
    font-family: var(--sans);
    font-size: 2rem;
    visibility: visible;
}
