[Unit]
Description=Gunicorn instance to serve ledger explorer
After=network.target

[Service]
User=s
Group=www-data

WorkingDirectory=/home/ledge/ledger-explorer/
Environment="PATH=/home/s/.venv_le/bin/"
ExecStart=/home/ledge/.venv_le/bin/gunicorn --bind unix:ledge.sock ledgex.index:server

[Install]
WantedBy=multi-user.target
